<!DOCTYPE html>
<html lang="en">

<body>
    <section>
        <main>
            <h3 style="font-size: large; font-weight: bold;">Welcome to Our Community</h3>
            <p style="margin-top: 8px;">
                We’re excited to welcome you to <span style="font-weight: bold;">Exhort</span> and we’re even more
                excited about what we’ve got planned. You’re already on your way to creating beautiful visual products.
                Whether you’re here for your brand, for a cause, or just for fun — welcome! If there’s anything you
                need, we’ll be here every step of the way.
            </p>
        </main>
    </section>
</body>

</html>
